<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fs-4">
    <div class="container-fluid">
      <a class="navbar-brand p-0 m-0" href="https://github.com/dayhip-ti"><img th:src="@{/img/logo.png}" class="Logotipo p-0 m-0" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/bienvenida">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usuario
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" th:href="@{/usuario/crear/2}">Agregar Usuario</a></li>
              <li><a class="dropdown-item" href="/usuario">Ver Usuarios</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Empleador
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/empleador/crear">Agregar Empleador</a></li>
              <li><a class="dropdown-item" href="/empleador">Ver Empleadores</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Trabajador
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/usuario/formularioCrear">Agregar Trabajador</a></li>
              <li><a class="dropdown-item" href="/usuario">Ver Trabajadores</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Liquidacion
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/usuario/formularioCrear">Nueva Liquidación</a></li>
              <li><a class="dropdown-item" href="/usuario">Ver Liquidaciones</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/login" class="btn btn-outline-dark fs-4">Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


</body>
</html>