<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="plantillas/base :: head">
    <title>Home</title>
</head>
<body id="bodyHome">
<header th:replace="plantillas/base :: header"></header>
<!--BODY-->
<section class="m-5">
    <h1>Liquidaciones de Sueldo</h1>
    <h1>Para Trabajadores de Casa</h1>
    <hr class="mt-3 mb-3">
    <p>Podrás crear liquidaciones de sueldo para tus trabajadores de casa particular y si eres contador <br>
        podrás agregar a tus empleadores/clientes y manejar a sus trabajadores y liquidaciones</p>
    <a th:href="@{/login}">
        <button type="button" class="btnHome btn btn-secondary mt-5 p-3 m-2 fs-4">Iniciar Sesión</button></a>
    <a th:href="@{/usuario/crear/1}"><button type="button" class="btnHome btn btn-dark mt-5 p-3 m-2 fs-4">Registrarse</button></a>
</section>
<section class="caracteristicasHome container">
    <h1 class="text-center mt-5 mb-5"> Características</h1>

    <div class="row g-2">
        <div class="col-2">
            <div class="p-3 text-center"><img class="imagenMiniHome"></div>
        </div>
        <div class="col-10">
            <div class="p-3">
                <h3>List-based media object</h3>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc
                    ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            </div>
        </div>
        <div class="col-2">
            <div class="p-3 text-center"><img class="imagenMiniHome"></div>
        </div>
        <div class="col-10">
            <div class="p-3">
                <h3>List-based media object</h3>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc
                    ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            </div>
        </div>
        <div class="col-2">
            <div class="p-3 text-center"><img class="imagenMiniHome"></div>
        </div>
        <div class="col-10">
            <div class="p-3">
                <h3>List-based media object</h3>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc
                    ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            </div>
        </div>
    </div>
    <article>
        <h1 class="text-center mt-5 mb-5">Contacto</h1>
        <div class="row ">
            <div class="col-6 text-end">
                <div class="p-3 text-center"><img class="imagenBigHome"></div>
            </div>
            <div class="col-5">
                <div class="p-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control mb-2" id="nombre" placeholder="Ingrese su nombre">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control " id="email" placeholder="Ingrese su email" aria-describedby="RUNhelp">
                    <div id="RUNhelp" class="form-text mb-2">Nunca compartiremos tu email.</div>
                    <label for="mensaje" class="form-label" >Mensaje</label>
                    <textarea name="mensaje" class="form-control mb-2" id="mensaje" placeholder="Ingrese su mensaje"  cols="30" rows="5"></textarea>
                    <button type="button" class="btn btn-dark mt-2 w-25">Enviar</button>
                </div>
            </div>
    </article>
</section>

<!--BODY-->
<footer th:replace="plantillas/base :: footer"></footer>
<section th:replace="plantillas/base :: script"></section>
</body>
</html>
