<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="plantillas/base :: head">

  <title>Lista de Empleadores</title>
</head>
<body>
<header th:replace="plantillas/base2 :: header"> </header>
</section>
<h1 class="text-center mt-4">Empleadores</h1>
    <div class="btnRegistrar mb-3">
      <a th:href="@{/usuario/formularioCrear}">
      <button type="submit" class="btn btn-primary mt-3 w-50">Agregar Empleador</button>
      </a>
    </div>
    <section >
      <table id="lista" class="w-75">
        <thead>
        <tr>
        <th>ID</th>
        <th>RUN</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th data-orderable="false">Acción</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="empleado: ${empleadoresHtml}">
          <td th:text="${empleado.getIdEmpleador()}"></td>
          <td th:text="${empleado.getRun()}"></td>
          <td th:text="${empleado.getNombre()}"></td>
          <td th:text="${empleado.getApellido1()+' '+empleado.getApellido2()}" ></td>
          <td th:text="${empleado.getEmail()}"></td>
          <td class="text-center">
            <a href="#" class="m-2">
              <i class="fa-sharp fa-solid fa-pen-to-square"></i>
            </a>
            <a href="#" class="m-2">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>

    </section>

<footer th:replace="plantillas/base :: footer"></footer>
<section th:replace="plantillas/base :: script"></section>
</body>
</html>