<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Title</title>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js" type="jscript"></script>
</head>
<body>

<h1 class="text-center">Inicio Sesión</h1>
<hr>
<section class="d-flex justify-content-center mt-5 ">

<form >
    <div class="mb-3">
        <label for="run" class="form-label">RUN</label>
        <input type="number" class="form-control" id="run" placeholder="Ingrese RUN" aria-describedby="RUNhelp">
        <div id="RUNhelp" class="form-text">Ingrese su RUN sin puntos ni guión</div>
    </div>
    <div class="mb-3">
        <label for="clave" class="form-label">Contraseña</label>
        <input type="password" class="form-control" placeholder="Ingrese Contraseña" id="clave">
    </div>
    <div class="d-flex justify-content-end" >
        <a href="#">Olvide mi clave</a>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Iniciar Sesión</button>
    <div class="d-flex justify-content-start mt-3" >
        <a href="registro.html">Registrarse</a>
    </div>
</form>

</section>
</body>
</html>