<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="plantillas/base :: head">
<body>
    <header th:replace="plantillas/base :: header"> </header>
    <h1 class="text-center mt-4">Inicio Sesión</h1>
    <hr>
    <div th:unless="${#strings.isEmpty(mensaje)}">
        <div class="alert alert-danger ps-5" th:text="${mensaje}"></div>
    </div>
    <section class="d-flex justify-content-center mt-5 mb-5">
<form th:action="@{/login}" method="post" th:object="${usuarioHtml}">
    <div class="mb-3">
        <label for="run" class="form-label">RUN</label>
        <input type="number" class="form-control" id="run" placeholder="Ingrese RUN" pattern="[0-9]+" aria-describedby="RUNhelp" th:field="*{run}" required>
        <div id="RUNhelp" class="form-text">Ingrese su RUN sin puntos ni guión</div>
    </div>
    <div class="mb-3">
        <label for="clave" class="form-label">Contraseña</label>
        <input type="password" class="form-control" placeholder="Ingrese Contraseña" id="clave" th:field="*{clave}" required>
    </div>
    <div class="d-flex justify-content-end" >
        <a href="#">Olvide mi clave</a>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Iniciar Sesión</button>
    <div class="d-flex justify-content-start mt-3" >
        <a href="/usuario/formularioCrear">Registrarse</a>
    </div>
</form>

</section>
    <footer th:replace="plantillas/base :: footer"></footer>
    <section th:replace="plantillas/base :: script"></section>
</body>
</html>