<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="es">
<head th:replace="plantillas/base :: head">
<body>
<header th:replace="plantillas/base2 :: header"> </header>
<h1 class="text-center mt-4">Registro de Liquidacion</h1>
<hr>
<section class="formulario mb-5">
  <form th:action="@{/liquidacion/crear}" method="post" class="needs-validation was-validated"  th:object="${liquidacionHtml}" >
    <input type="hidden" id="salud">
    <input type="hidden" id="prevision">
    <div class="row g2 mb-5">
      <!----------------------------------Trabajador----------------------------------------------->
      <div class="col-md-6 position-relative mt-3">
          <label for="trabajador2" class="form-label">Trabajadores</label>
          <select class="form-select is-valid" name="trabajador" id="trabajador2" aria-describedby="trabajadorAD" required>
            <option selected disabled value=""><--Selecione--></option>
            <th:block th:each="trabajador :${trabajadoresHtml}">
              <option th:value="${trabajador.idTrabajador}"
                      th:data-salud="${trabajador.institucionSalud.idInstSalud}"
                      th:data-prevision="${trabajador.institucionPrevision.idInstPrevision}"
                      th:text="${trabajador.nombre+' '+trabajador.apellido1+' '+trabajador.apellido2}">
              </option>
            </th:block>
          </select>
        <div id="trabajadorAD" class="invalid-tooltip end-0 rounded-start-pill">
          Seleccione una opción. (͠◉_◉᷅ )
        </div>
      </div>
      <!----------------------------------Sueldo Imponible----------------------------------------------->

      <div class="col-md-6 position-relative mt-3">
        <label for="sueldoImponible" class="form-label">Sueldo Imponible</label>
        <div  class="input-group has-validation">
          <span id="isueldoImponible" class="input-group-text bg-secondary border-secondary text-white" >$</span>
          <input  type="text" name="totalDescuento" class="form-control is-valid border-secondary " id="sueldoImponible" placeholder="00.00" required readonly>
          <div id="disueldoImponible" class="invalid-tooltip end-0 rounded-start-pill">
            Ingrese el sueldo. (͠◉_◉᷅ )
          </div>
          <div id="dvsueldoImponible" class="valid-tooltip end-0 rounded-start-pill bg-secondary">
            Seleccione un Trabajador. (͠◉_◉᷅ )
          </div>
        </div>
      </div>
      <!----------------------------------Salud----------------------------------------------->
    </div>
    <div class="row g2 mb-5">
      <div class="col-md-6 position-relative mt-3">
          <label for="institucionSalud2" class="form-label">Institución de Salud</label>
          <select class="form-select is-invalid" name="institucionSalud" id="institucionSalud2" aria-describedby="institucionSaludAD" disabled>
            <option selected disabled value=""><--Selecione--></option>
            <th:block th:each="salud :${listaSaludHtml}">
              <option th:value="${salud.idInstSalud}"
                      th:data-salud-dcto="${salud.procDcto}"
                      th:text="${salud.descripcion}"
              ></option>
            </th:block>
          </select>
        <div id="institucionSaludAD" class="invalid-tooltip end-0 rounded-start-pill">
          Seleccione un trabajador. (✿◡‿◡)
        </div>
      </div>
      <!----------------------------------Monto Salud----------------------------------------------->
      <div class="col-md-6 position-relative mt-3">
        <label for="montoInstSalud" class="form-label">Monto Salud</label>
        <div class="input-group has-validation">
          <span id="imontoInstSalud" class="input-group-text bg-secondary border-secondary text-white" >$</span>
          <input  type="text" name="montoInstSalud" class="form-control is-valid border-secondary" id="montoInstSalud" placeholder="Monto Insitucion Salud" readonly>
          <div id="dmontoInstSalud" class="valid-tooltip end-0 rounded-start-pill bg-secondary">
            (Automatico)(✿◡‿◡)
          </div>
        </div>
      </div>
      <!----------------------------------AFP----------------------------------------------->
    </div>
    <div class="row g2 mb-5">
      <div class="col-md-6 position-relative mt-3">
          <label for="institucionPrevision2" class="form-label">AFP</label>
          <select class="form-select is-invalid" name="institucionPrevision" id="institucionPrevision2" aria-describedby="institucionPrevisionAD" required disabled >
            <option selected disabled value=""><--Selecione--></option>
            <th:block th:each="prevision : ${listaPrevisionHtml}">
              <option th:value="${prevision.idInstPrevision}"
                      th:data-prevision-dcto="${prevision.proDcto}"
                      th:text="${prevision.descripcion}">...</option>
            </th:block>
          </select>

        <div id="institucionPrevisionAD" class="invalid-tooltip end-0 rounded-start-pill">
          Seleccione un trabajador. (✿◡‿◡)
        </div>
      </div>

      <!----------------------------------Monto AFP----------------------------------------------->

      <div class="col-md-6 position-relative mt-3">
        <label for="montoInstPrevisional" class="form-label">Monto AFP</label>
        <div id="imontoInstPrevisional" class="input-group has-validation">
          <span class="input-group-text bg-secondary border-secondary text-white" >$</span>
          <input type="text" name="montoInstPrevisional" class="form-control is-valid border-secondary" id="montoInstPrevisional" placeholder="00.00" readonly>
          <div id="dmontoInstPrevisional" class="valid-tooltip end-0 rounded-start-pill bg-secondary">
            (Automatico)(✿◡‿◡)
          </div>
        </div>
      </div>

      <!----------------------------------Total Descuentos----------------------------------------------->
    </div>
    <div class="row g2 mb-5">
      <div class="col-md-6 position-relative mt-3">
        <label for="totalDescuento" class="form-label">Total Descuento</label>
        <div class="input-group has-validation">
          <span id="itotalDescuento" class="input-group-text bg-secondary border-secondary text-white" >$</span>
          <input  type="text" name="totalDescuento" class="form-control is-valid border-secondary " id="totalDescuento" placeholder="00.00" readonly>
          <div id="dtotalDescuento" class="valid-tooltip end-0 rounded-start-pill bg-secondary">
            (Automatico)(✿◡‿◡)
          </div>
        </div>
      </div>
      <!----------------------------------Total Haberes----------------------------------------------->
      <div class="col-md-6 position-relative mt-3">
        <label for="totalHaberes" class="form-label">Monto Salud</label>
        <div class="input-group has-validation">
          <span id="itotalHaberes" class="input-group-text bg-secondary border-secondary text-white" >$</span>
          <input type="text" name="totalHaberes" class="form-control is-valid border-secondary" id="totalHaberes" placeholder="00.00" readonly>
          <div id="dtotalHaberes" class="valid-tooltip end-0 rounded-start-pill bg-secondary">
            (Automatico)(✿◡‿◡)
          </div>
        </div>
      </div>
      <!----------------------------------Anticipo----------------------------------------------->
    </div>
    <div class="row g2 mb-5">
      <div class="col-md-6 position-relative mt-3">
        <label for="anticipo" class="form-label">Anticipo</label>
        <div class="input-group has-validation">
          <span class="input-group-text bg-secondary border-secondary text-white" >$</span>
          <input  type="text" name="anticipo" class="form-control is-valid border-secondary " id="anticipo" placeholder="00.00" readonly>
          <div class="ianticipo valid-tooltip end-0 rounded-start-pill bg-secondary">
            Seleccione un Trabajador. (͠◉_◉᷅ )
          </div>
        </div>
      </div>
      <!----------------------------------Sueldo Liquido----------------------------------------------->
      <div class="col-md-6 position-relative mt-3">
        <label for="sueldoLiquido" class="form-label">Monto Salud</label>
        <div class="input-group has-validation">
          <span id="isueldoLiquido" class="input-group-text bg-secondary border-secondary text-white" >$</span>
          <input type="text" name="sueldoLiquido" class="form-control is-valid border-secondary " id="sueldoLiquido" placeholder="00.00" readonly>
          <div id="dsueldoLiquido" class="valid-tooltip end-0 rounded-start-pill bg-secondary">
            (Automatico) (✿◡‿◡)
          </div>
        </div>
      </div>
      <!----------------------------------Botton----------------------------------------------->
    </div>
    <div class="btnRegistrar mb-3">
      <button type="submit" class="btn btn-primary mt-3 w-50"><i class="fas fa-plus" ></i> Registrar Trabajador</button>
    </div>
  </form>
</section>
<footer th:replace="plantillas/base :: footer"></footer>
<section th:replace="plantillas/base :: script"></section>
<!-- /////////////////////////////////////////// JS ////////////////////////////////// -->
<script th:src="@{/js/validacionLiquidacion.js}">

</script>
</body>
</html>