<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="plantillas/base :: head">
<body>
<div th:if="${base==1}">
  <header th:replace="plantillas/base :: header"> </header>
</div>
<div th:if="${base==2}">
  <header th:replace="plantillas/base2 :: header"> </header>
</div>
<h1 class="text-center mt-4">Registro de Usuario</h1>
<hr>
<section class="formulario mb-5">

<form  th:action="@{/usuario/crear/{base}(base=${base})}" method="post" class="needs-validation was-validated"  th:object="${usuarioHtml}">

  <div class="mb-3 position-relative">
    <label for="run" class="form-label">RUN</label>
    <input  type="text" class="form-control is-valid" minlength="7" maxlength="8" name="run" id="run" placeholder="Ingrese RUN" required >
    <div class="invalid-tooltip end-0 rounded-start-pill" th:if="*{run != null}">
      El RUN esta en uso.
    </div>
    <div class="start-50 text-primary-emphasis fs-6">
      <i class="fas fa-plus" ></i> Ingrese los números de su RUN, sin codigo verificador.
    </div>
  </div>
  <div class="mb-3 position-relative">
    <label for="nombre" class="form-label">Nombre</label>
    <input th:value="*{nombre}" class="form-control" id="nombre" name="nombre" placeholder="Ingrese Nombre" required>
  </div>
  <div class="mb-3 position-relative">
    <label for="apellido1" class="form-label">Apellido Paterno</label>
    <input th:value="*{apellido1}"  type="text" class="form-control" name="apellido1" id="apellido1" placeholder="Ingrese Apellido Paterno" required>
  </div>
  <div class="mb-3 position-relative">
    <label for="apellido2" class="form-label">Apellido Materno (Opcional)</label>
    <input th:value="*{apellido2}"  type="text" class="form-control" name="apellido2" id="apellido2" placeholder="Ingrese Apellido Materno" >
    <div class="valid-tooltip end-0 rounded-start-pill">
      (Opcional)
    </div>
  </div>
  <div class="mb-3 position-relative">
    <label for="telefono" class="form-label">Teléfono (Opcional)</label>
    <input th:value="*{telefono}"  type="number" class="form-control" name="telefono" id="telefono" placeholder="Ingrese Teléfono"  >
    <div class="valid-tooltip end-0 rounded-start-pill">
      (Opcional)
    </div>
  </div>
  <div class="mb-3 position-relative">
    <label for="email" class="form-label">Correo Electronico</label>
    <div class="input-group has-validation">
      <span class="input-group-text" >@</span>
      <input th:value="*{email}"  type="email" class="form-control" name="email" id="email" aria-describedby="validationTooltipUsernamePrepend" placeholder="Ingrese Correo electronico" required >
    </div>
  </div>
  <div class="mb-3 position-relative">
    <label for="clave" class="form-label">Contraseña</label>
    <input th:value="*{clave}"  type="password"  class="form-control" placeholder="Ingrese Contraseña" name="clave" id="clave" required>
  </div>
  <div class="text-center m-5">
    <div class="mb-3 form-check-inline pe-5" >
      <input th:field="*{perfil.idPerfil}"  class="form-check-input" type="radio" id="option3" name="perfil" th:value="3" required>
      <label  for="option3">Empleador</label><br>
    </div>
    <div class="mb-3 form-check-inline ps-5" >
      <input th:field="*{perfil.idPerfil}" class="form-check-input" type="radio" id="option2" name="perfil" th:value="2" required>
      <label   for="option2">Contador</label><br>
    </div>

  </div>
  <div class="btnRegistrar mb-3">
    <button type="submit" class="btn btn-primary mt-3 w-50"><i class="fas fa-plus" ></i> Registrar Usuario</button>
  </div>
</form>
</section>
<footer th:replace="plantillas/base :: footer"></footer>
<section th:replace="plantillas/base :: script"></section>
</body>
</html>