<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="plantillas/base :: head">
<body>
<header th:replace="plantillas/base2 :: header"> </header>
<h1 class="text-center mt-4">Registro de Empleador</h1>
<hr>
<section class="formulario mb-5">
  <form th:action="@{/empleador/crear}" method="post" class="was-validated" >


    <div class="mb-3 position-relative">
      <label for="run" class="form-label">RUN</label>
      <input  type="text" class="form-control is-valid" minlength="7" maxlength="8" name="run" id="run" placeholder="Ingrese RUN" required >
      <div class="invalid-tooltip end-0 rounded-start-pill" th:if="*{run != null}">
        El RUN esta en uso.
      </div>
      <div class="start-50 text-primary-emphasis fs-6">
        <i class="fas fa-plus" ></i> Ingrese los números de su RUN, sin codigo verificador.
      </div>
    </div>
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input  type="text" name="nombre" class="form-control" id="nombre" placeholder="Ingrese Nombre" required>
    </div>
    <div class="mb-3">
      <label for="apellido1" class="form-label">Apellido Paterno</label>
      <input  type="text" name="apellido1" class="form-control" id="apellido1" placeholder="Ingrese Apellido Paterno" required>
    </div>
    <div class="mb-3 position-relative">
      <label for="apellido2" class="form-label">Apellido Materno (Opcional)</label>
      <input type="text" name="apellido2" class="form-control" id="apellido2" placeholder="Ingrese Apellido Materno (Opcional)" >
      <div class="valid-tooltip end-0 rounded-start-pill">
        (Opcional)
      </div>
    </div>
    <div class="mb-3 position-relative">
      <label for="direccion" class="form-label">Dirección (Opcional)</label>
      <input type="text" class="form-control" id="direccion" placeholder="Ingrese Dirección">
      <div class="valid-tooltip end-0 rounded-start-pill">
        (Opcional)
      </div>
    </div>
    <div class="mb-3 position-relative">
      <label for="email" class="form-label">Correo Electronico (Opcional)</label>
      <input  type="email" name="email" class="form-control" id="email" placeholder="Ingrese Correo electronico" >
      <div class="valid-tooltip end-0 rounded-start-pill">
        (Opcional)
      </div>
    </div>
    <div class="mb-3 position-relative">
      <label for="telefono" class="form-label">Telefono (Opcional)</label>
      <input value="telefono"  type="number" name="telefono" class="form-control" placeholder="Ingrese Teléfono" id="telefono">
      <div class="valid-tooltip end-0 rounded-start-pill">
        (Opcional)
      </div>
    </div>
    <div class="btnRegistrar mb-3">
      <button type="submit" class="btn btn-primary mt-3 w-50"><i class="fas fa-plus" ></i> Registrar Empleador</button>
    </div>
  </form>
</section>
<footer th:replace="plantillas/base :: footer"></footer>
<section th:replace="plantillas/base :: script"></section>
</body>
</html>